<div>
    <div class="container-fluid p-0">
        <div class="row g-0">

            <div class="col-xl-9">
                <div class="auth-full-bg pt-lg-5 p-4">
                    <div class="w-100">
                        <div class="bg-overlay"></div>
                        <div class="d-flex h-100 flex-column">
                            <div class="p-4 mt-auto">
                                <div class="row justify-content-center">
                                    <div class="col-lg-7">
                                        
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-xl-3">
                <div class="auth-full-page-content p-md-5 p-4">
                    <div class="w-100">

                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 d-flex justify-content-center">
                                <a routerLink="/" class="d-block auth-logo">
                                    <img src="assets/images/logo-dark.png" alt="" height="50" class="auth-logo-dark">
                                    <img src="assets/images/logo-light.png" alt="" height="50" class="auth-logo-light">
                                </a>
                            </div>
                            <div class="my-auto">
                                <div>
                                    <h5 class="text-primary">Resetar Senha</h5>
                                    <p class="text-muted"></p>
                                </div>

                                <div class="mt-4">
                                    <div class="alert alert-success text-center mb-4" *ngIf="!successmsg" role="alert">
                                        Digite seu e-mail e receba as instruções
                                    </div>
                                    <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false" class="alert alert-success text-center mb-4">Código de Reset 
                                        enviado
                                    </ngb-alert>
                                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()"
                                    >
                                    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                                        <div class="mb-3">
                                            <label for="useremail">E-mail</label>
                                            <input type="email" formControlName="email" 
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" id="useremail"
                                                placeholder="Entre com seu e-mail">
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                    <div *ngIf="f.email.errors.required">O E-mail é obrigatório</div>
                                                    <div *ngIf="f.email.errors.email">O E-mail deve ser um endereço válido</div>
                                                  </div>
                                        </div>

                                        <div class="text-end">
                                                <button class="btn btn-primary w-md"
                                                    type="submit">Resetar</button>
                                            </div>

                                    </form>
                                    <div class="mt-5 text-center">
                                        <p>Lembrou-se? <a routerLink="/account/login-2"
                                                class="fw-medium text-primary"> Fazer Login</a> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">©
                                    {{year}} MaVi <i class="mdi mdi-heart text-danger"></i> by
                                    <a href="https://womi.com.br/">Womi</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>